In [9]:
import sqlite3
con = sqlite3.connect('./test_db')

In [10]:
cur = con.cursor()
for row in cur.execute('SELECT * FROM person'):
    print(row)
    for column in row:
        print(column)

(1, 'name_a', 10.5)
1
name_a
10.5
(2, 'name_b', None)
2
name_b
None
(3, 'name_c', 3.14)
3
name_c
3.14
(4, 'name_d', 2.0)
4
name_d
2.0
(100, 'name_z', 99.9)
100
name_z
99.9

In [3]:
insert_sql = 'INSERT INTO person VALUES(?, ?, ?)'
insert_param = (100, 'name_z', 99.9)
cur.execute(insert_sql, insert_param)

In [4]:
con.commit()

In [11]:
cur.execute('SELECT * FROM person WHERE size > :size', {'size':10})
print(cur.fetchall())

[(1, 'name_a', 10.5), (100, 'name_z', 99.9)]

In [12]:
cur.execute('UPDATE person SET name = "changed_name" WHERE id = 1')

In [13]:
con.commit()

In [14]:
cur.execute('SELECT * FROM person WHERE size > :size', {'size':10})
print(cur.fetchall())

[(1, 'changed_name', 10.5), (100, 'name_z', 99.9)]